body {
  background-color: #282c34;
  color: white;
  margin-left: 25px;
}
h1 {
  color: white;
}

h2 {
  color: grey;
}

.title {
  font-style: italic;
  color: darkgrey;
}

.bolded {
  font-weight: bold;
  color: #9867c5;
}
